:root {
	--boolean: #00CCFF;
	--classes: #FF8800;
	--numbers: #00FF00;
	--default: #FFFFFF;
	--special: #9999FF;
	--strings: #FF77FF;
	--comment: #999999;
	--backgnd: #000000;
	--tcursor: #FFFFFF;
	--tselect: #444444;
}
.com {color: var(--comment);}
.kwd {color: var(--boolean);}
.typ {color: var(--classes);}
.lit {color: var(--numbers);}
.pln {color: var(--default);}
.pun {color: var(--special);}
.str {color: var(--strings);}
::selection {
	background: var(--tselect);
}
#inputcode {
	caret-color: var(--tcursor);
	background-color: var(--backgnd);
}